.swal2-popup {
  font-size: 1.6rem !important;
}
.error{
	color: #a94442;
	font-weight: bold;
}
.table-responsive {
	overflow-x: visible;
}
body{
	padding-right:0 !important;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.body-hide-scroll{
	overflow-y: hidden;
}
.mayus{
	text-transform: uppercase;
}

#tabla_cabecera{
    background-color:#135896;
    color:#FFFFFF;
    font-family: cambria;
    font-size: 11px;
}
#tabla_cabecera_fila{
    text-align: center;
    /*border: 1px solid #FFFFFF;*/
    border: 1px solid black;
    font-size: 11px;
}

#tabla_fila{
    
    border: 1px solid #135896;
    font-size: 11px;
}

.subtitulo_pago{
   text-align:left; 
   padding:10px 0 0 5px;
   margin-bottom:2px; 
   color: green;
   font-weight: bold;
   font-family: cambria;
}

.swal2-styled.swal2-cancel{
  background-color: #3c8dbc !important;
}

.shadow{
  padding: 19px;
  display: block;
  box-shadow: rgb(14 30 37 / 12%) 3px 2px 0px -2px, rgb(14 30 37 / 32%) 2px 2px 17px 3px;
  margin-bottom: 5px;
}

.shadow-simple{
  display: block;
  box-shadow: rgb(14 30 37 / 12%) 3px 2px 0px -2px, rgb(14 30 37 / 32%) 2px 2px 17px 3px;
  margin-bottom: 5px;
}

.input-shadow {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-shadow:focus {
  box-shadow: 0 0 8px 0 #a5d6f7;
}

.input-shadow.req {
  border-color: #ff0000;
  background-color: #FFE7E6;
}


.mt-4{
  margin-top: 1.5rem !important;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

.p-4{
  padding: 1.5rem !important;
}

.rounded{
  border-radius: 8px;
}

.table-responsive{
  width: 100%;
  overflow: auto;
}