@-webkit-keyframes loader-two-before-transition {
  50% {
    left: -154px;
  }

  100% {
    left: -97px;
  }
}

@keyframes loader-two-before-transition {
  50% {
    left: -154px;
  }

  100% {
    left: -97px;
  }
}

@-webkit-keyframes loader-two-after-transition {
  50% {
    left: 54px;
  }

  100% {
    left: -4px;
  }
}

@keyframes loader-two-after-transition {
  50% {
    left: 54px;
  }

  100% {
    left: -4px;
  }
}

#wpf-loader-two {
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: #009688 !important;
}

#wpf-loader-two .wpf-loader-two-inner {

  height: 100px;
  left: 46%;
  position: absolute;
  top: 40%;
  width: 100px;
  text-align: center;
}

#wpf-loader-two .wpf-loader-two-inner:before {
  content: "";
  height: 57%;
  left: -204px;
  position: absolute;
  top: -5px;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-before-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-before-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner:after {
  content: "";
  height: 57%;
  left: 104%;
  position: absolute;
  top: 50%;
  transition: all 0.5s ease 0s;
  width: 200px;
  -webkit-animation-name: loader-two-after-transition;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: loader-two-after-transition;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner span {
  color: #fff;
  display: inline-block;
  margin-top: 42%;
}


  #wpf-loader-two .wpf-loader-two-inner {
    left: 36%;
  }